* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}

.box-1 {
  width: 200px;
  height: 40px;
  background-color: orangered;
  border-radius: 25px 2px;
  margin-left: 2rem;
  box-shadow: 2px 3px 6px #000000;
}

.box-2 {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  background-color: cyan;
  /* Transition vai decidir, qual é o tempo e o tipo de transição de propriedades que o elemento terá, se será rápido, se será fluído, se será rápido no inicio e lento no final, ou o contrário */
  transition: .5s all ease;
}
.box-2:hover {
  border-radius: 50% 50% 0px 0px;
  border: 1px double #000000;
  box-shadow: 5px 8px 6px #000000;
}

.text-test {
  font-size: 22px;
  text-shadow: 1px 2px 3px #0000ff;
}