.box {
  width: 200px;
  aspect-ratio: .5;
}

.box-1 {
  background-color: orangered;
}
.box-2 {
  background-color: rgb(123, 56, 98);
}
.box-3 {
  background-color: #236681;
}
.box-teste {
  color: violet;
}
.box-4 {
  background-color: currentColor;
}