.box {
  width: 700px;
  height: 200px;
  background: lightcoral;
}

.solid {
  border: 4px solid #0000ff;
}

.dotted {
  border: 4px dotted #00facb;
}

.dashed {
  border: 4px dashed #000000;
}

.double {
  border: 8px double #ff2244;
}

.groove {
  border: 8px groove #00ff00bb;
}

.animes, .series {
  width: 250px;
}

.animes {
  background-color: green;
  border: 1px solid #000000;
}
.animes li, .series li {
  height: 35px;
}

.series {
  background-color: cyan;
  border: 1px solid #000000;
}