* {
  font-family: arial;
  text-align: justify;
}
body {
  margin: 0px;
  padding: 5px;
}

h1 {
  margin-top: 5px;
}

blockquote {
  background-color: #888888;
  padding: 1rem;
}
cite {
  background-color: gold;
}

q {
  background-color: #888888;
}