.form-1 {
  width: 500px;
  height: 200px;
  background-color: orange;
  border-radius: 150px 69px 150px 69px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  letter-spacing: .6rem;
  text-shadow: 2px 2px 3px #000000;
  box-shadow: 2px 3px 5px #000000;
}

.leafs {
  display: flex;
  gap: 1rem;
}

.form-2 {
  margin-top: 1.5rem;
  background-color: green;
  width: 40px;
  height: 60px;
  border-radius: 40px 0px 36px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-3 {
  background-color: rgb(10, 85, 10);
  width: 30px;
  height: 50px;
  border-radius: 42px 2px 38px 3px;
}