.box1 {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 2px solid red;
  border-radius: 15px;

  margin: 10px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid green;
  border-radius: 15px;
}

.box3 {
  padding: 10px;
  background-color: green;
  margin-bottom: 1rem;
  border: 1px solid #ff0000;
}

.box4 {
  background-color: green;
  margin-bottom: 1rem;
  border: 1px solid #ff0000;
}

.pais {
  width: 700px;
  background-color: orange;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid orangered;
}
.pais h2 {
  font-size: 28px;
}
.pais img {
  width: 450px;
  border:1px solid #000000;
}