* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.begin {
  height: 100px;
  background-color: #fa2255;
  text-align: center;
}
.begin img {
  width: 50px;
}

.options {
  text-align: center;
  background-color: #fa2255;
  padding: 0px 0px 1rem;
}
.options a{
  color: black;
}

.products {
  padding: 5px 1rem;
}

.product {
  text-align: center;
  width: 40%;
  background-color: #fa2255;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px groove #000000;
  margin: 1rem 0px;
}
.product-title {
  font-size: 25px;
  color: #ffffff;
}
.product-img {
  width: 100%;
  max-width: 400px;
  margin: 1rem 0px;
}
.product-price {
  margin: 0px 0px 1rem;
  font-size: 20px;
  font-weight: bold;
}
.product-button {
  font-size: 22px;
  padding: 5px 15px;
  background-color: yellow;
}